.home-style {
    background-image: url('../../images/Image/Background\ 1.png');
    height: 100vh;
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}